/* Your SCSS here. */

@font-face {
    font-family: "Euphoria Script";
    src: url('../assets/Euphoria_Script/EuphoriaScript-Regular.ttf');
}

html {
    scroll-behavior: smooth;
}


body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
i,
select {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

body {
    // height: 100vh;
    // display: flex;
    justify-content: center;
    align-items: center;
    // background-image: linear-gradient(180deg, #030103, #70526d );
    // background-color: pink;
    // background-color: aquamarine;
    
}

.bookshelf_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

// .video {
//     width: 100%;
//     height: 100vh;
//     object-fit: cover;
// }
.hidden {
    display: none;
}


.navbar {
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // @include Euphoria_Script;
    font-family: "Euphoria Script";
    color: #68005E;
    z-index: 9999;
    background-color: #fa8de2;
    top:0;
    position: fixed;
    // transition: all 4s ease-in-out;

    transition: font-size 0.3s ease, padding-top 0.3s ease;


    .active, ul:hover {
        background-color: #ef47f27b;
        color: rgb(214, 200, 200);
      }
    ul {
        list-style-type: none;
        margin: 0 20px;
        // font-size: 40px;
    }
}

.landing_page_container {
    // background: linear-gradient(180deg, #E7A0E0 100%, #E7A0E0 11%, #EFC7EB 11%);
    // background-image: -webkit-linear-gradient(180deg, #030103, #70526d);
    // background-color: aquamarine;
    // background-color: pink;
    // display: flex;
    z-index: 99999; 
    position: relative;
    // align-items: center;
    height: 100vh;
    background-image: linear-gradient(
        45deg,
        hsl(303deg 98% 59%) 0%,
        hsl(305deg 98% 64%) 10%,
        hsl(306deg 98% 68%) 20%,
        hsl(308deg 97% 71%) 30%,
        hsl(310deg 94% 74%) 40%,
        hsl(312deg 90% 77%) 50%,
        hsl(316deg 93% 74%) 60%,
        hsl(319deg 96% 70%) 70%,
        hsl(321deg 98% 66%) 80%,
        hsl(323deg 99% 61%) 90%,
        hsl(321deg 100% 50%) 100%
        ); 
}

.box-out {
    z-index: 99;
    width: 720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 140px;
}

.box-inner {
    /* display: none; */
    z-index: 99;
    width: 900px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: absolute;
    top: 350px;
    overflow: hidden;
    // background-color: pink;
}

.book {
    width: 180px;
    height: 255px;
    background-color: rgb(62, 71, 152);
    transition: all .3s ease-in-out;
    transform-origin: left center 0px;
    transform-style: preserve-3d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    // padding: 1vw;
}

.childhood_fantasies {
    height: 100vh;
    background-color: #fa8de2;
}
.box-out .book::after {
    content: " ";
    display: block;
    opacity: 0;
    width: 180px;
    height: 255px;
    position: relative;
    left: 8px;
    transition: all .3s ease;
}

.box-out .book::before {
    content: " ";
    z-index: 999;
    display: block;
    width: 20px;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: -12px;
    right: 8px;
    transition: all .25s;
    // background: url('../assets/bookmark-removebg-preview.png');
    background-size: 16px;
    background-repeat: no-repeat;
}

/*------ background-pic ------*/

.books-1 {
    background: url('../assets/childhood.jpeg');
    background-size: 180px 255px;
}

.books-2 {
    background: url('../assets/compbook.jpg');
    background-size: 180px 255px;
}

.books-3 {
    background: url('../assets/queenellieera.jpeg');
    background-size: 180px 255px;
}

/* ----- book-blur ----- */

.book-blur {
    filter: blur(40px)
}

.box-inner .book {
    margin-left: 90px;
    position: relative;
    top: -194px;
}

/* ----- hover ----- */

.book:hover {
    cursor: pointer;
    transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
    -webkit-backface-visibility: hidden;
    box-shadow: 1px 3px 2px #fff, 20px 8px 0 #fcc0fb;
    /* transform: scale(1.02); */
}

.book:hover::after {
    content: " ";
    display: block;
    opacity: 1;
    width: 172px;
    height: 255px;
    position: relative;
    left: 8px;
    background: linear-gradient(-180deg, rgba(255, 225, 255, .1) 0%, rgba(255, 255, 255, 0) 60%);
}

.book:hover::before {
    transform: translateY(9px);
    opacity: 1;
  
}

.dr {
position: absolute;
  bottom: 16px; 
  right: 16px;
  width:100px;
}
 

.bookTitle {
    margin: 2vw;
}

.ParallaxVideo{ 
    height: 100vh;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    z-index: 2;
    background-color: #fa8de2;

    h1 {
        font-family: "Euphoria Script";
    }
}
.ParallaxVideo video{ 
    // min-width: 100%;
    // min-height: 100vh;
    // position: fixed;
    // top:0;
    // z-index: -1;
    position: fixed;
    background-color: #fa8de2;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100vw;
    height: auto;
}
.ParallaxVideo h1 {
    top: 0;
    // left: 50vw;
    text-align: center;
    position: fixed;

  color: #68005E;
  font-size: 96px;
  font-weight: 700;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: center;
//   margin-top: 20vh;
//   position: fixed;
  z-index: 9999;
//   position: fixed;
//   text-transform: uppercase;
}

.contentovervideo{
    // width: 100%;
    // background-color: #fcc0fb;
    // height: 20vh;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // position: relative; 
    // z-index: 2;
    position: relative; // Relative to the viewport
    z-index: 2; // Ensures it's stacked on top of .ParallaxVideo
    width: 100%;
    background-color: #fa8de2;
    height: 200vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
    // overflow: hidden;
    // padding-inline: 4vw;
    font-family: "Euphoria Script";
    // align-items: center;
    h1 {
        font-size: 3vw;
    }
    img {
        margin: 1vw;
        border-radius: 2vh;
        width: 40vw;
        margin-inline: 4vw;
        
        // height: 50%;
        // width: 50%;
    }
   
    // grid-template-areas: 
    //       "<grid-area-name> | . | none | ..."
    //       "...";
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left:1vw;
    // grid-template-rows: auto;
    grid-template-areas: 
          "one one two two"
          "three three four four"
          "six six five five"
          
          ; 
      

}
.split_into_two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.one{
    grid-area:one;
    // align-items: center;
}

.two {
    grid-area:two;
    // align-items: center;
}
.three {
    grid-area:three;
    // align-items: center;
}
.four {
    grid-area:four;
    // align-items: center;
}
.five {
    grid-area:five;
}
.six {
    grid-area:six;
}
.leftside, .rightside {
    flex: 1;
    padding: 10px;
}

.leftside {
    // Add specific styles for leftside here
    img {
        border-radius: 50vh;
    }
}

.rightside {
    // Add specific styles for rightside here
}
.teenage_dreams {
    // z-index: 10000;
    position: relative;
    background-color: #68005E;
    height: 100vh;
    font-family: "Euphoria Script";
    text-align: center;
    z-index: 1;
}


.ParallaxVideo2 { 
    height: 100vh;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    z-index: 1;

    h1 {
        font-family: "Euphoria Script";
    }
}
.ParallaxVideo2 video{ 
    // min-width: 100%;
    // min-height: 100vh;
    // position: fixed;
    // top:0;
    // z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    transform: translateY(-50%);
    height: auto;
}
.ParallaxVideo2 h1 {
    top: 0;
    // left: 50vw;
    text-align: center;
    position: fixed;

  color: #68005E;
  font-size: 96px;
  font-weight: 700;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: center;
//   margin-top: 20vh;
//   position: fixed;
  z-index: 9999;
//   position: fixed;
//   text-transform: uppercase;
}


.contentoverrobot {
    background-color: #fcc0fb;
    z-index: 3;
    position: relative;
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex; // Add this
    justify-content: center; // Add this
    align-items: center; // Modify this
}


// >>>>>>>>>>>>>>>>>>>>>>>>>

* {
    box-sizing: border-box;
  }
  
  .slider {
    width: 600px;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    // position: relative;
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    

    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 600px;
    height: 600px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;

  }
  .slides > div:target {
  /*   transform: scale(0.8); */
  }
  .author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
  }

.slider {
    img {
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

    video {
        object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

    }
    display: flex;
    position: relative;
    width: 80%  ;

    // height: 100%;
    // justify-content: center;
    // transform: translateY(50%)% ;
}
//   
  
  .slider > a {
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    // background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    // margin: 0 0 0.5rem 0;
    margin-top: 23%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
  }
//   .slider > a:active {
//     top: 1px;
//   }
//   .slider > a:focus {
//     background: #000;
//   }
  
//   /* Don't need button navigation */
//   @supports (scroll-snap-type) {
//     .slider > a {
//       display: none;
//     }
//   }
  
 
.slide-arrow {
    position: absolute;
    top: 50%;
    width: 100%;
    // height: 100%;
    // margin-right:2vw;
    // font-size: 5em;
    // color: #fff;
    // background-color: rgba(0, 0, 0, 0.5);
    // padding: 0.5em;
    // text-decoration: none;

    // transform: translateY(150%);
    // transition: background-color 0.3s ease;
    // width: 2vw;
    // transform:translateY(-50%);

    // &:hover {
    //     background-color: rgba(0, 0, 0, 0.8);
    // }
    img {
        background-color: none;
        // width: 130%;
    }
}

#slide-left {
    left: 0;
    
}

#slide-right {
    right: 0;
}


.collegeconquests {
    background-color: #e61ccb;
    min-height: 200vh;
    // background-color: #fcc0fb;
    z-index: 3;
    position: relative;
    height: 100%;
    text-align: center;
    align-items: center;
    // display: flex; // Add this
    // justify-content: center; // Add this
    // align-items: center; // Modify this
    // margin-top: 0;

    .images {
        
        height: 100vh;
        width: 100%;
        z-index: 9999;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding:1vw;
        // grid-template-rows: auto;
        grid-template-areas: 
            "one two three four"
            "five six seven egt"
            "nne ten ele twe"
            
            ; 

        img {
            width: 100%;

        }
    }
    
}



.seven {
    grid-area:seven;
}
.eight {
    grid-area:eight;
}
.nine {
    grid-area:nine;
}
.ten {
    grid-area:ten;
}
.ele {
    grid-area:ele;
}
.twe {
    grid-area:twe;
}


.ParallaxVideo3 { 
    height: 100vh;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    z-index: 2;
    // background-image: "../assets/tec.jpeg";
    h1 {
        font-family: "Euphoria Script";
    }
}
.ParallaxVideo3 img{ 
    // min-width: 100%;
    // min-height: 100vh;
    // position: fixed;
    // top:0;
    // z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    transform: translateY(-10%);
    height: auto;
}
.ParallaxVideo3 h1 {
    top: 0;
    // left: 50vw;
    text-align: center;
    position: fixed;

  color: #68005E;
  font-size: 96px;
  font-weight: 700;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: center;
//   margin-top: 20vh;
//   position: fixed;
  z-index: 9999;
//   position: fixed;
//   text-transform: uppercase;
}

.collegepara {
    height: 100vh;
    // background-image: url("../assets/tec.jpeg");
    // background-color: #68005E;
}




footer {
    position: relative;
    width: 100%;
    height: 200px; // adjust as needed
    background-color: #fa8de2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #68005E;
    font-family: "Euphoria Script";
    text-align: center;
    z-index: 9999;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../assets/pink.jpeg') no-repeat center center; // replace with your graphic
        background-size: cover;
        opacity: 0.5; // adjust as needed
    }

    .footer-content {
        position: relative;
        z-index: 1;

        h1 {
            font-size: 2em; // adjust as needed
        }

        p {
            font-size: 1.2em; // adjust as needed
        }
    }
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    img {
        max-width: 20vw;
    }
}

.modal-content {
    background-color: #e684b2e2;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#learnMoreBtn {
    padding: 10px 20px;
    margin-top: 40vh;
    font-size: 1.2em;
    background-color: #fa8de2;
    color: #68005E;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.2s ease, transform 0.2s ease;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
}

#learnMoreBtn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #68005E;
    z-index: 1;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

#learnMoreBtn:hover {
    background-color: #68005E;
    color: #fa8de2;
    box-shadow: 5px 5px 15px rgba(9, 8, 8, 0.106);
    transform: scale(1.05);
}


